*{
    margin:0;
    padding:0 ;
}
body{
    background-color: white;
   
    
    

}
.nav{
    justify-content: flex-end;
    width: 97%;
  
}
.nav ul{
    display: inline;
    justify-content: flex-end;
    display: flex;
    position: relative;
    list-style: none;

}
.nav ul li{
    justify-content: space-around;
    margin: 10px;
    right: 100px;
    margin-top: 28px;
}
.nav ul li a{
    font-size: 17px;
    color: black ;
    justify-content: space-between;
    gap: 20px;
}

.nav ul img{
    padding:13px;
    border-radius: 36px;
    margin-top: 0;
    right: 34px;
    border: none;
    justify-content: space-around; 

}


.section{
    padding: 45px;
    background-color: black;
}
.head{
    font-size: 130px;
    font-weight: bold;
    margin-top: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 23px;
    padding: 40px;
}
.input{
    padding: 10px;
    position: relative;
    width: 50%;
    right: 0;
    left: 25%;
    margin: 10px;
    border-top-left-radius: 30px;
    border-bottom-right-radius:30px ;
    border-top-right-radius: 30px;
    border-bottom-left-radius:30px ;
}
.short-cuts{
    display: flex;
    justify-content: center;
    padding: 23px;

}
.short-cuts ul{
    justify-content: center;
    display: inline;
    list-style: none;  
}
.short-cuts ul li{
    display: inline;
    justify-content: space-between;
    margin: 5px;
}
.short-cuts ul li:hover{
    padding: 10px;
    background-color: lightgrey;
    border-radius: 23%;
    top: 34%;
}




.footer{
    padding: 29px;
    margin-top: 100px;

}
.footer p{
    text-align: center;
    color: black;
    font-size: 20px;
 
}